#nav-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0 0 1em 0;
    padding: 0;
    float: left;
    background-color: #414141;
    z-index: 0;
}

#content {
    margin-top: 35px;
}

/***********command board**********/
#commandBoard {
    position: fixed;
    top: 35px;
    right: 0px;
    margin-right: 10px;
    position: fixed;
    width: 30%;
    height: 70%;
    background-color: #DDDDDD;
    opacity: 0.7;
    z-index: 5;  
    display: none;  
    padding: 10px;
}

.commandContainer{
    width: auto;
}

.command{
    width: 200px;
    background-color: white;
    display: inline-block;
}

.commandTo{

}
.




