* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
}
/*
#leftp {
    float: left;
    height: 100%;
    min-width: 200px;
}
*/
#cssmenu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 200px;
}

#rightp {
    float: right;
    width: 80%;
}

.terminal-cont {
    float: left;
    border: 1px #ffffff solid;
}
.terminal-header {
    text-align: center;
    background: #d3d3d3;
    color: #000000;
}
.close-button {
    float: right;
}
.terminal {
    background: black;
    color: white;
    font-family: Courier, monospace;
    display: inline-block;
    
}