ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
}

li {
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: #888888;
}

#nav-bar a:link,
#nav-bar  a:visited {
    display: block;
    width: auto;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 6px;
    padding-left:10px; 
    padding-right:10px; 
    text-decoration: none;
}

#nav-bar  a:hover,
#nav-bar  a:active {
    background-color: #220055;
}

.right {
    float: right;
}

#showBar {
        position: fixed;
        top: 2px;
        right: 1px;
        margin-right:5px;
        width: auto;
        background-color: white;
        display: none;
        font-weight: bold;
        color: #FFFFFF;
        background-color: #000000;
        padding: 3px;
        text-decoration: none;
}

#showBar:hover{
    background-color: #220055;
}
