.terminal-container {
    float: left;
    margin-right: 10px;
    margin-bottom: 40px;
    border: 0px #ffffff solid;
    width: 500px;
    height: 500px;
}

.terminal-header {
    background: #d3d3d3;
    color: #000000;
    margin-bottom: 0px;
    width: 100%;
}

.terminal-info {
    margin-left: 3px;
}

.close-button {
    float: right;
    text-decoration: none;
}

.terminal {
    background: black;
    color: white;
    font-family: Courier, monospace;
    display: inline-block;
}



pre {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}
